{{ define "main" }}

<div class="container col-xxl-8">
  <h1 class="display-3 text-center">{{ .Title }}</h1>
  <div class="my-5 clearfix">
    {{ with .Resources.Get "card-1-history-image.html" }}
      {{ .Content }}
    {{ end }}
    
    {{ with .Resources.Get "card-2-history.md" }}
      {{ .Content }}
    {{ end }}
  </div>
</div>

<div class="container-fluid px-0">
  <div class="px-4 py-5 text-center bg-light bg-gradient" >
    {{ with .Resources.Get "card-3-bible-quote.html" }}
      {{ .Content }}
    {{ end }}
  </div>
</div>

<div class="container col-xxl-8">
  <div class="row row-cols-1 row-cols-md-2 my-5">
    <div class="col p-3">
      <div class="card h-100">
        <div class="card-body">
          {{ with .Resources.Get "card-4-vision.md" }}
            {{ .Content }}
          {{ end }}
        </div>
      </div>
    </div>
    <div class="col p-3">
      <div class="card h-100">
        <div class="card-body">
          {{ with .Resources.Get "card-5-mission.md" }}
            {{ .Content }}
          {{ end }}
        </div>
      </div>
    </div>
  </div>  
</div>

{{ partial "cta-join-us.html" . }}

{{ partial "cta-activities.html" . }}

{{ end }}
