{{ define "main" }}

<div class="container col-xxl-12">
  <!--This section is the header of the page-->
  <h1 class="montserrat-header-text-1">SERVICES & ACTIVITIES</h1>

  <!--This section is showing each ministry-->
  <div class="row row-cols-1 row-cols-md-2 row-cols-lg-3 g-3 my-5">
    {{ $context := . }}
    {{ range .Resources.Match "card-*.md" }}
    <div class="col">
      <div id="{{ replace .Name ".md" "" }}" class="card h-100">
        {{ with $context.Resources.Get (replace .Name ".md" ".jpg") }}
          {{ with .Fill "400x300 WEBP Center" }}
        <img src="{{ .RelPermalink }}" class="card-img-top img-fluid" width="{{ .Width }}" height="{{ .Height }}" alt="">
          {{ end }}
        {{ end }}
        <div class="card-body nunito-text">
          {{ .Content }}
        </div>
      </div>
    </div>
    {{ end }}
  </div>
</div>

{{ end }}
