{{ "<!-- Site cta-join-us Start -->" | safeHTML }}
<div class="container-fluid bg-light bg-gradient text-center">
  <div class="container col-xxl-8">
    <div class="row align-items-start mx-4 gx-3" >
      <div class="col-md-6 text-cta-navy">
        <div class="py-5 px-lg-5">
          <h3>Worship with us in person</h3>
          <div>
            <p>Weekly English Services @ 167YCK</p>
            <dl class="row text-start mx-auto" style="max-width: 250px">
              <dt class="col-sm-4">Sunday</dt>
              <dd class="col-sm-8">10:30am - 12:00pm</dd>
            </dl>
            {{ with .Site.GetPage "activities" }}
            <div class="d-grid gap-2 d-sm-flex justify-content-sm-center">
              <a href="{{ .RelPermalink }}#card-1-english-service" class="btn btn-sm btn-cta-navy btn-lg px-4">English Service</a>
              <a href="{{ .RelPermalink }}#card-2-royal-rangers" class="btn btn-sm btn-cta-navy btn-lg px-4">Children's Classes</a>
            </div>
            {{ end }}
          </div>
        </div>
      </div>
      <div class="col-md-6 text-cta-orange">
        <div class="py-5 px-lg-5">
          <h3>Mingle with us on Weekdays</h3>
          <div>
            <p>
              Care groups on alternate weeks in<br>
              Ang Mo Kio, Bishan, Fernvale,<br>
              Tampines, Punggol & Woodleigh.
            </p>
            <dl class="row text-start mx-auto" style="max-width: 240px">
              <dt class="col-sm-4">Tuesday</dt>
              <dd class="col-sm-8">1:30pm - 3:30pm</dd>
              <dt class="col-sm-4">Friday</dt>
              <dd class="col-sm-8">8:00pm - 10:00pm</dd>
              <dt class="col-sm-4">Saturday</dt>
              <dd class="col-sm-8">4:00pm - 6:00pm</dd>
            </dl>
            {{ $contactPage := .Site.GetPage "contact" }}
            {{ if not (.Eq $contactPage) }}
            <div class="d-grid gap-2 d-sm-flex justify-content-sm-center">
              <a href="{{ $contactPage.RelPermalink  }}" class="btn btn-sm btn-cta-orange btn-lg px-4">Contact Us</a>
            </div>
            {{ end }}
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{{ "<!-- Site cta-join-us End -->" | safeHTML }}
