{{ with .Site.Params.cta_activities }}
{{ "<!-- Site cta-activities Start -->" | safeHTML }}
<div class="container-fluid px-0">
  <div class="px-4 py-5 mb-5 text-center" style="background-color: var(--bs-primary-bg-subtle)">
    <h4 class="display-6">{{ .title }}</h4>
    <div class="col-lg-6 mx-auto">
      <p class="lead my-4 mx-auto" style="max-width: 280px">
        {{ .description }}
      </p>
      <div class="d-grid gap-2 d-sm-flex justify-content-sm-center">
        <a href="{{ .buttonUrl | absURL }}" class="btn btn-light btn-lg px-4">{{ .buttonText }}</a>
      </div>
    </div>
  </div>
</div>
{{ "<!-- Site cta-activities End -->" | safeHTML }}
{{ end }}
