{{ "<!-- Site cta-join-us Start -->" | safeHTML }}
<div class="container-fluid bg-light bg-gradient text-center">
  <div class="container col-xxl-9">
    <h1 class="montserrat-header-text-1">{{ T "activities_glance"}}</h1>
    <div class="row align-items-start mx-4 py-3 py-md-0 gx-3" >
      <div class="nunito-text col-md-6 my-5 text-cta-navy">
        <div class="px-lg-5">
          <h3 class="text-center">{{ T "worship_sunday"}}</h3>
          <div class="nunito-text text-center">
            <p><strong>{{ T "weekly_english"}}</strong></p>
            <dl class="row text-start mx-auto" style="max-width: 300px">
              <dt class="col-sm-4">{{ T "sunday"}}</dt>
              <dd class="col-sm-8">{{ T "worship_timing"}}</dd>
            </dl>
            {{ with .Site.GetPage "activities" }}
            <div class="d-grid gap-2 d-sm-flex justify-content-sm-center">
              <a href="{{ .RelPermalink }}#card-1-english-service" class="btn btn-sm btn-cta-navy btn-lg px-4">{{ T "english_service"}}</a>
              <a href="{{ .RelPermalink }}#card-2-chinese-service" class="btn btn-sm btn-cta-navy btn-lg px-4">{{ T "chinese_service"}}</a>
              <a href="{{ .RelPermalink }}#card-4-royal-rangers" class="btn btn-sm btn-cta-navy btn-lg px-4">{{ T "royal_rangers"}}</a>
            </div>
            {{ end }}
          </div>
        </div>
      </div>
      <div class="col-md-6 my-5 text-cta-orange">
        <div class="px-lg-5">
          <h3>{{ T "mingle"}}
          </h3>
          <div class="nunito-text text-center">
            <p class="nunito-text text-center">
              <strong>{{ T "caregroup_alternate"}}<br>
              {{ T "cell_location"}}</strong>
            </p>
            <dl class="row text-start mx-auto" style="max-width: 300px">
              <dt class="col-sm-4">{{ T "tuesday"}}</dt>
              <dd class="col-sm-8">{{ T "cell_tuesday_timing"}}</dd>
              <dt class="col-sm-4">{{ T "friday"}}</dt>
              <dd class="col-sm-8">{{ T "cell_friday_timing"}}</dd>
              <dt class="col-sm-4">{{ T "saturday"}}</dt>
              <dd class="col-sm-8">{{ T "cell_saturday_timing"}}</dd>
            </dl>
            {{ $contactPage := .Site.GetPage "contact" }}
            {{ if not (.Eq $contactPage) }}
            <div class="d-grid gap-2 d-sm-flex justify-content-sm-center">
              <a href="{{ $contactPage.RelPermalink  }}" class="btn btn-sm btn-cta-orange btn-lg px-4">{{ T "contact_us"}}</a>
            </div>
            {{ end }}
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{{ "<!-- Site cta-join-us End -->" | safeHTML }}
