{{ "<!-- Site cta-join-us Start -->" | safeHTML }}
<div class="container-fluid bg-light bg-gradient text-center">
  <div class="container col-xxl-8">
    <div class="row align-items-start mx-4 gx-3" >
      <div class="col-md-6 text-cta-navy">
        <div class="py-5 px-md-5 px-lg-5">
          <h3>Worship with us in person</h3>
          <div>
            <p>
              Sunday English Services @ 167YCK<br>
              10:30am - 12:00pm
            </p>
            {{ with .Site.GetPage "activities" }}
            <div class="d-grid gap-2 d-sm-flex justify-content-sm-center">
              <a href="{{ .RelPermalink }}#card-1-english-service" class="btn btn-sm btn-cta-navy btn-lg px-4">English Service</a>
              <a href="{{ .RelPermalink }}#card-2-royal-rangers" class="btn btn-sm btn-cta-navy btn-lg px-4">Children's Classes</a>
            </div>
            {{ end }}
          </div>
        </div>
      </div>
      <div class="col-md-6 text-cta-orange">
        <div class="py-5 px-md-5 px-lg-5">
          <h3>Mingle with us on Weekdays</h3>
          <div>
            <p>
              Care groups on alternate weeks<br>
              Tuesday: 2:30pm - 4:30pm<br>
              Friday: 8:00pm - 10:00pm
            </p>
            <table class="table text-start">
              <tr>
                <th scope="row">Adult</th>
                <td>Hougang, Fernvale, Tampines, Punggol & Woodleigh</td>
              </tr>
              <tr>
                <th scope="row">Youth</th>
                <td>167YCK (Saturday: 4:00pm - 5:30pm)</td>
              </tr>
            </table>
            {{ $contactPage := .Site.GetPage "contact" }}
            {{ if not (.Eq $contactPage) }}
            <div class="d-grid gap-2 d-sm-flex justify-content-sm-center">
              <a href="{{ $contactPage.RelPermalink  }}" class="btn btn-sm btn-cta-orange btn-lg px-4">Contact Us</a>
            </div>
            {{ end }}
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{{ "<!-- Site cta-join-us End -->" | safeHTML }}
