<div class="container-fluid">
  <footer class="py-3 my-4">
    {{ with .Site.Params.contactInfo }}
    <h5 class="text-center">{{ .name }}</h5>
    <p class="text-center text-body-secondary">
      {{ .address }}<br>
      <i class="bi-telephone"></i>
      <a class="text-decoration-none" href="tel:{{ .phone }}">
        {{ .phone }}
      </a>
      <i class="bi bi-envelope-at"></i>
      <a class="text-decoration-none" href="mailto:{{ .email }}">
        {{ .email }}
      </a>
    </p>
    {{ end }}
  </footer>
</div>
