<nav class="navbar navbar-expand-lg bg-body-tertiary">
  <div class="container col-xxl-12">
    <a class="navbar-brand" href="{{ .Site.BaseURL }}">
      <img src="/images/bcc-logo-transparent-100px.png"><!--{{ .Site.Title }}-->
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarToggler" aria-controls="navbarToggler" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse flex-grow-0" id="navbarToggler">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        {{ $currentPage := . }}
        {{ $menu := (.Site.Menus.main) }}
        {{ range $index, $element := $menu }} 
          {{ if .Params.highlight }}
          <li class="nav-item mx-1">
            <a class="btn btn-primary" aria-current="page" href="{{ .URL | absURL }}">{{ .Name }}</a>
          </li>
          {{ else if $currentPage.IsMenuCurrent .Menu . }}
        <li class="nav-item mx-1">
          <a class="nav-link active" aria-current="page" href="{{ .URL | absURL }}">{{ .Name }}</a>
        </li>
          {{ else }}
        <li class="nav-item mx-1">
          <a class="nav-link" href="{{ .URL | absURL }}">{{ .Name }}</a>
        </li>          
          {{ end }} 
        {{ end }}
      </ul>
    </div>
  </div>
</nav>
