{{ define "main" }}

<div class="container col-xxl-8 py-sm-5">
  <div class="row align-items-center my-lg-5">
    <div class="col-lg-6 col-xl-7 p-0">
      <div class="carousel slide me-lg-5" data-bs-ride="carousel">
        <div class="carousel-inner rounded-auto">
          {{ range $index, $image := resources.Match "images/home-carousel-*" }}
            {{ with $image.Fill "720x320 WEBP Bottom" }}
          <div class="carousel-item {{ if eq $index 0 }}active{{ end }}">
            <img src="{{ .RelPermalink }}" class="d-block w-100" alt="">
          </div>
            {{ end }}
          {{ end }}
        </div>
      </div>
    </div>

    <div class="col-lg-6 col-xl-5 my-5">
      <h1 class="display-3 text-body-emphasis lh-1 mb-3 text-center">{{ .Title }}!</h1>
      <p style="text-align: justify;">{{ .Content }}</p>
    </div>
<!-- This is start of the code that put in the microsite banner -->
<!-- Do not delete this code. You can comment it out but keep it there for maintenance purpose -->
    <div class="container col-12"> 
      <div class="row align-items-center my-lg-5">
        <p style="color:rgb(0, 0, 0);text-align:center; font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; font-size: 160%;">Special Events @ Bethany</p>
        <div class="p-0">
          {{ $image := resources.Get "/images/event-BCC-christmas-2025.png" }}
          {{ with $image.Process "WEBP" }}
            <a href="https://bcc-christmas-2025.my.canva.site/" target="_blank"><img src="{{ .RelPermalink }}" class="d-block w-100 rounded-auto" alt="Christmas 2025"></a>
          {{ end }}
        </div>
      </div>
    </div>
<!-- This is the end of the code that put the micosite banner. -->
  </div>
</div>

{{ partial "cta-join-us.html" . }}

{{ partial "cta-activities.html" . }}

{{ end }}
